$border-radius: 3px;
$font-size-base: 14px;
$font-size-small: 12px;
$padding-x-input: 8px;
$padding-y-input: 6px;
$transition-duration: 220ms;
$transition-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
