@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
span:focus,
label:focus,
input:focus,
a:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:focus, a:active, a:hover {
  color: #000;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #999;
  opacity: 1;
}

body {
  font-family: "Roboto", sans-serif;
}

.content {
  margin: 0 auto;
  max-width: 100%;
  padding: 32px 0;
  width: 1000px;
}

.fw-bold {
  font-weight: bold;
}

.title {
  align-items: center;
  display: flex;
  font-size: 24px;
  height: 90px;
  margin-bottom: 32px;
  padding-left: 52px;
  position: relative;
}
.title-image {
  left: 0;
  position: absolute;
  width: 70px;
  z-index: -1;
}

.content-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
  padding: 16px 32px;
}

.card {
  background-color: #BED23C;
  border-radius: 4px;
  margin-bottom: 32px;
  margin-right: 32px;
  max-width: 100%;
  padding: 16px 12px;
  position: relative;
  width: 200px;
}
.card:before {
  content: "";
  border: 2px solid #BED23C;
  border-radius: 4px;
  height: 100%;
  left: -12px;
  position: absolute;
  top: -12px;
  width: 100%;
  z-index: -1;
}
.card-image {
  display: block;
  height: 100px;
  margin: 0 auto 16px;
  width: 100px;
}

.card-title {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  text-align: center;
}

.card-content {
  margin-bottom: 16px;
  margin-top: 8px;
  text-align: center;
}
