@import 'variables';
@import 'colors';

.content-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
  padding: $text-medium 32px $text-medium 64px;
}

.card {
  align-items: center;
  background-color: $green;
  border-radius: $card-border-radius;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  margin-right: 32px;
  max-width: 100%;
  padding: $text-medium $text-small;
  position: relative;
  width: $card-width;

  &::before {
    content: '';
    border: 2px solid $green;
    border-radius: $card-border-radius;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-10px, -10px);
    transition: transform $transition-duration $transition-function;
    width: 100%;
    z-index: -1;
  }

  &:hover::before {
    transform: translate(6px, 6px);
  }
}

.card-image {
  height: $tech-logo-size;
  width: $tech-logo-size;
}

.card-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: $text-medium;
  margin-bottom: $text-medium;
  margin-top: $text-medium;
}

.card-title-info {
  font-weight: bold;
  margin-top: 8px;
}

.card-content {
  margin-bottom: $text-medium;
  text-align: center;
}
