$card-border-radius: 4px;
$card-width: 200px;
$font: 'Roboto', sans-serif;
$nav-height: 70px;
$nav-logo-height: 30px;
$size-content: 1000px;
$title-decoration-height: 100px;
$title-decoration-width: 70px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
