$card-border-radius: 4px !default;
$card-width: 200px !default;
$font: 'Roboto', sans-serif !default;
$nav-height: 70px !default;
$nav-logo-height: 30px !default;
$size-content: 900px !default;
$title-decoration-height: 90px !default;
$title-decoration-width: 70px !default;
$tech-logo-size: 100px !default;
$text-big: 24px !default;
$text-medium: 16px !default;
$text-small: 12px !default;
