$card-border-radius: 4px;
$card-width: 200px;
$transition-duration: 270ms;
$transition-function: ease-in;
$font: 'Roboto', sans-serif;
$footer-height: 180px;
$nav-height: 90px;
$nav-logo-height: 30px;
$size-content: 1050px;
$title-decoration-height: 100px;
$title-decoration-width: 70px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
