@import 'variables/colors';

.square {
  background-color: $white;
  border: 1px solid $dusty-gray;
  cursor: pointer;
  font-size: 60px;
  font-weight: bold;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;

  &.highlight {
    color: $red;
    animation: scaleUp 1.5s cubic-bezier(0.39, 0.58, 0.57, 1) infinite;
  }

  &:focus {
    outline: none;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(.9);
  }
  to {
    transform: scale(1);
  }
}
